body {background-color: darkolivegreen; font-family: 'Comforter Brush', cursive;
    font-family: 'Montserrat Alternates', sans-serif;}
header {color: wheat;}
p {color: wheat; 
    }
.title {font-family: 'Comforter Brush', cursive; color: wheat}
